body {
    font-family: 'Dosis', sans-serif;
}

img {
    border-radius: 10%;
}
#mage {
    border: solid #5CDDE0 3px;
}

#range {
    border: solid #59AB2C 3px;
}


li {
    list-style-type: none;
    font-size: 16px;
    line-height: 1.9em;
    text-align: center;
}

li:hover{
    cursor: pointer;
}

.linkactive{
    color: dodgerblue;
    border: solid 2px black;
    padding: 4px;
    background-color: aliceblue;
}
#output {
    position: relative;
    left: 10px;
    margin: 15px;
 
    column-count: 2;
}

#stats{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 400px;
    text-align: left;


}

#statZone{
    position: relative;
    display: flex;
    flex-direction: row;
}

p{
    color: green;
}


span {
    padding: 5px;
}



#stats {
    background-color: #c4ebf9;
    opacity: .8;
    visibility: hidden;
    padding: 10px;
    border: 1px solid #88d2f2;
}

.skillArea {
    background-color: aliceblue;
    border: solid 2px #04517b;
    color: #04517b;
    padding: 10px;
    letter-spacing: 1px;
    
}

.manaArea {
    background-color: #04517b;
    border: solid 2px #c4ebf9;
    color: #c4ebf9;
    padding: 10px;
    letter-spacing: 1px;

}

.abilityStatsArea {
    background-color: #88d2f2;
    border: solid 2px #c4ebf9;
    color: #04517b;
    padding: 10px;
    letter-spacing: 1px;
    
}

.recoItemsArea {
    font-size: 18px;
    color: #04517b;
    letter-spacing: 1px;
}