body {
    font-family: 'Dosis', sans-serif;
}

img {
    border-radius: 10%;
}
#mage {
    border: solid #5CDDE0 3px;
}

#range {
    border: solid #59AB2C 3px;
}


.itemImage{
    width: 65px;
    height: 65px;
}

#spatula{
    width: 65px;
    height: 65px;
}


li {
    list-style-type: none;
    font-size: 20px;
    line-height: 1.9em;
    text-align: center;
}

.championNames{
    font-size: 20px;

}

li:hover{
    cursor: pointer;
}

.linkactive{
    color: dodgerblue;
    border: solid 2px black;
    padding: 4px;
    background-color: aliceblue;
}
#output {
    position: relative;
    left: 10px;
    margin: 15px;
 
    column-count: 2;
}

#stats{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 400px;
    text-align: left;


}

#statZone{
    position: relative;
    display: flex;
    flex-direction: row;
}



span {
    padding: 5px;
}



#stats {
    
   text-align: center;
    opacity: .8;
    visibility: hidden;
    padding: 10px;
}

.skillArea {
    background-color: aliceblue;
    border: solid 2px #04517b;
    color: #04517b;
    padding: 10px;
    letter-spacing: 1px;
    
}

.manaArea {
    background-color: #04517b;
    border: solid 2px #c4ebf9;
    color: #c4ebf9;
    padding: 10px;
    letter-spacing: 1px;

}

.abilityStatsArea {
    background-color: #88d2f2;
    border: solid 2px #c4ebf9;
    color: #04517b;
    padding: 10px;
    letter-spacing: 1px;
    
}

.recoItemsArea {
    font-size: 18px;
    color: black;
    letter-spacing: 1px;
}

.demonStats {
    background-color: #938bc7;
    opacity: .8;
    padding: 10px;
    color: #241956;
}

.demonAbility {
    background-color: #EAC3FF;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}

.demonMana {
    background-color: #EAC3FF;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
    
}


.demonSkill {
    background-color: #EAC3FF;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}


.wildStats {
    background-color: #e1ece6;
    opacity: .8;
    padding: 10px;
    color: #517350;
}

.wildAbility {
    background-color: #edf1f0;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}

.wildMana {
    background-color: #edf1f0;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}

.wildSkill {
    background-color: #edf1f0;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}


.ninjaStats {
    background-color: #1e272c;
    opacity: .8;
    padding: 10px;
    color: #e6e6e6;
}

.ninjaAbility {
    background-color: #333333;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}

.ninjaMana {
    background-color: #333333;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}


.ninjaSkill {
    background-color: #333333;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}




.glacialStats {
    background-color: #90e8f8;
    opacity: .8;
    padding: 10px;
    color: #002028;
}

.glacialAbility {
    background-color: #18a8c0;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}

.glacialMana {
    background-color: #18a8c0;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}


.glacialSkill {
    background-color: #18a8c0;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}


.robotStats {
    background-color: #e7c5c2;
    opacity: .8;
    padding: 10px;
    color: #c05d4f;
}

.robotAbility {
    background-color: #ede9e6;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}

.robotMana {
    background-color: #ede9e6;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}


.robotSkill {
    background-color: #ede9e6;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}



.voidStats {
    background-color: #869ca5;
    opacity: .8;
    padding: 10px;
    color: #2b0529;
}

.voidAbility {
    background-color: #8c769f;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}

.voidMana {
    background-color: #8c769f;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}


.voidSkill {
    background-color: #8c769f;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}




.imperialStats {
    background-color: #9c1b1b;
    opacity: .8;
    padding: 10px;
    color: #f0ece1;
}

.imperialAbility {
    background-color: #d63333;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}

.imperialMana {
    background-color: #d63333;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}


.imperialSkill {
    background-color: #d63333;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}



.nobleStats {
    background-color: rgba(182,175,45,1);
    opacity: .8;
    padding: 10px;
    color: #d8d69e;
}

.nobleAbility {
    background-color: #8890a7;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}

.nobleMana {
    background-color: #8890a7;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}


.nobleSkill {
    background-color: #8890a7;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}



.pirateStats {
    background-color: #1c8bc1;
    opacity: .4;
    padding: 10px;
    color: #760a0a;
}

.pirateAbility {
    background-color: #ddd417;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}

.pirateMana {
    background-color: #ddd417;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}


.pirateSkill {
    background-color: #ddd417;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}



.phantomStats {
    background-color: #3c455c;
    opacity: .4;
    padding: 10px;
    color: #3ddad7;
}
.phantomAbility {
    background-color: #135589;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}

.phantomMana {
    background-color: #135589;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}


.phantomSkill {
    background-color: #135589 ;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}



.yordStats {
    background-color: #e6e5e5;
    opacity: .4;
    padding: 10px;
    color: #566e50;
}

.yordAbility {
    background-color: #b6b1a6;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}

.yordMana {
    background-color: #b6b1a6;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}


.yordSkill {
    background-color: #b6b1a6;
    opacity: .8;
    padding: 10px;
    position: relative;
    display: block;
    margin: 15px auto;
}